experiments/*
!experiments/20260101_000659
!experiments/20260102_170618
# data/*.csv

# Ignore evaluation outputs inside experiments
experiments/**/calibration_curves/
experiments/**/confusion_matrices/

# Ignore all __pycache__ directories recursively
__pycache__/

# Ignore all compiled Python files recursively
*.py[cod]
*.pyd
*.pyc

# Optional: Ignore caches in subdirectories too
**/__pycache__/
**/*.py[cod]
**/*.pyd
**/*.pyc

# macOS metadata
.DS_Store
**/.DS_Store
.vscode/
.idea/

# Python packaging
*.egg-info/
traj_interact_predict/*.egg-info/

# Jupyter
.ipynb_checkpoints/